# Pyhton Basic Assignment 1

1) In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
 / 
+	
 6

    ANSWER - 
      * -> Expression
     'hello' ->  Value 
     -87.8 -> Value 
      - -> Expression  
     / -> Expression 
     + -> Expresion 
     6 -> Value

2) What is the difference between string and variable?

String - String is a array of sequence character and is written inside single quotes, double quotes or triple quotes. Python doesn't have character data type, so when we write 'a', it takes as a string with lenght 1.

Variable - Variables are containers for storing data values. A variable is created the moment you first assign a value to it. variable do not need to be declared with any perticular 'type', and can even change after they have been set.

3. Describe three different data types.

NUMBERS - Number stores numeric values. The integer, float, and complex values belong to a Python Numbers data-type.

LIST - The list can contain data of different types. The items stored in the list are separated with a comma (,) and enclosed within square brackets [].We can use slice [:] operators to access the data of the list.

A list is mutable means we can alter the list once it will be cretaed.

TUPLE - A tuple is similar to the list in many ways. Like lists, tuples also contain the collection of the items of different data types. The items of the tuple are separated with a comma (,) and enclosed in parentheses ().

A tuple is unmutable data structure as we can't modify the size and value of the items of a tuple.

4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables, operators, and calls to functions. Anything that does something is a statement. Any assignment to a variable or function call is a statement. Any value contained in that statement in an expression.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

The evaluation of an expression produces a value, which is why expressions can appear on the right hand side of assignment statements.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [3]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [7]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

    1)Variable name should start with letter(a-zA-Z) or underscore (_).
    2)Variable name can have numbers but not at the beginning.
    3)Varible can not be a number

 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

    1) count()
    2) Range()
    3) Len()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [9]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [10]:
# We have to put it into a quotes to use it as a string.
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'